<h2 class="treed page_title">New Password</h2>

<%= form_tag(:action => 'alter_password', :date => params[:date], :to => params[:to], :view => params[:view]) do %>
	<%= label_tag(:old_password) %>
	<%= password_field_tag(:old_password) %>
	<%= label_tag(:new_password) %>
	<%= password_field_tag(:new_password) %>
	<%= label_tag(:new_password_confirmation, 'New Password Confirmation') %>
	<%= password_field_tag(:new_password_confirmation) %><br>
	<%= submit_tag('Alter Password', :class => 'button-primary') %>
<% end %>

<p><%= link_to('Back', :action => 'options', :date => params[:date], :to => params[:to], :view => params[:view]) %></p>